Repository fernando-duarte/china-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-complexity, interrogate, check-tool-versions

Path conditions:
  radon-complexity: any of: ^(china_data_processor\.py|china_data_downloader\.py|utils/.*)\.py$, but not: ^(venv/|\.venv/|__pycache__/|\.git/|\.mypy_cache/|\.pytest_cache/)
  interrogate: any of: ^(china_data_processor\.py|china_data_downloader\.py|utils/.*)\.py$, but not: ^(venv/|\.venv/|__pycache__/|\.git/|\.mypy_cache/|\.pytest_cache/)
  check-tool-versions: any of: ^(\.pre-commit-config\.yaml|\.github/workflows/.*\.yml|pyproject\.toml)$, but not: ^(venv/|\.venv/|__pycache__/|\.git/|\.mypy_cache/|\.pytest_cache/)

feat: implement 2025 codebase assessment recommendations - Phase 5 final cleanup and validation
  .github/CODEOWNERS
  .github/auto-assign-config.yml
  .github/labeler.yml
  .github/workflows/auto-assign.yml
  .github/workflows/ci-unified.yml
  .github/workflows/ci-uv.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-check.yml
  .github/workflows/dependency-health.yml
  .github/workflows/dependency-update.yml
  .github/workflows/docs.yml
  .github/workflows/monitoring.yml
  .gitignore
  Dockerfile
  config.py
  docker-compose.yml
  docs/ai-context.md
  input/.gitkeep
  model/__init__.py
  model/test_model_equations.py
  model/utils/__init__.py
  model/utils/consumption.py
  model/utils/exports.py
  model/utils/imports.py
  model/utils/investment_from_saving.py
  model/utils/tfp_growth.py
  pyproject.toml
  scripts/compliance_report.py
  scripts/dev-setup.sh
  utils/observability.py
  uv.lock
  workflow_outputs/.gitkeep
Due: radon-complexity, interrogate, check-tool-versions

style: apply formatting and linting fixes from pre-commit hooks
  .github/workflows/ci-unified.yml
  .github/workflows/dependency-health.yml
  .github/workflows/monitoring.yml
  config.py
  docs/ai-context.md
  model/test_model_equations.py
  model/utils/consumption.py
  model/utils/exports.py
  model/utils/imports.py
  model/utils/investment_from_saving.py
  model/utils/tfp_growth.py
  scripts/compliance_report.py
  scripts/dev-setup.sh
  utils/observability.py
Due: radon-complexity, interrogate, check-tool-versions

feat: implement 2025 codebase assessment recommendations
  .context/project.yaml
  .github/workflows/ci-unified.yml
  .github/workflows/sbom.yml
  .gitignore
  VERSION.txt
  docker-compose.yml
  implementation_plan_2025.md
  output/china_data_processed.md
  pyproject.toml
  renovate.json5
  test.md
  test_output.md
Due: check-tool-versions

fix: add --output screen argument to safety-check pre-commit hook
  .pre-commit-config.yaml
Due: check-tool-versions

Automated commit
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  .semgrep.yml
  .semgrepignore
  Makefile
  bandit.json
  pre-commit-security-enhancement-checklist.md
  scripts/generate_sarif_reports.py
  semgrep-python.json
  semgrep-security.json
  semgrep-test.json
  test_semgrep_security.py
Due: check-tool-versions

Remove outdated documentation and example files - clean up for 2025 refactor
  docs/adrs/003-documentation-strategy.md
  docs/adrs/index.md
  docs/ai-context.md
  docs/api/core.md
  docs/api/data-sources.md
  docs/development/github-actions-guide.md
  docs/development/github-cli-reference.md
  docs/development/pre-commit-practices.md
  docs/development/tool-version-alignment.md
  docs/getting-started/installation.md
  docs/index.md
  docs/javascripts/mathjax.js
  docs/security/bandit-exclude-patterns.md
  docs/security/semgrep-configuration.md
  docs/security/semgrep-free-account-benefits.md
  docs/stylesheets/extra.css
  docs/tool-version-synchronization.md
  docs/user-guide/structured-logging.md
  examples/sample_output.md
  examples/structured_logging_demo.py
Due: none

Update ignore files to track PDF files in output directory - allow PDFs while ignoring other output files
  .augment-ignore
  .cursorallow
  .cursorignore
  .cursorindexingignore
  .gitignore
  output/china_data_processed.pdf
Due: none

fix: optimize pre-commit hooks performance and fix file formatting
  .bandit.yaml
  .pre-commit-config.yaml
  scripts/generate_sarif_reports.py
Due: check-tool-versions

docs: add comprehensive pre-commit optimization plan
  PRE_COMMIT_OPTIMIZATION_PLAN.md
Due: none

chore: backup current pre-commit configuration
  .pre-commit-config.yaml.backup
Due: none

feat: optimize pre-commit configuration for 55% performance improvement
  .gitignore
  .pre-commit-config.yaml
  PRE_COMMIT_GUIDE.md
  PRE_COMMIT_PERFORMANCE_SUMMARY.md
  bandit.json
  docs/adrs/001-python-version-strategy.md
  docs/adrs/index.md
  docs/api/core.md
  docs/development/contributing.md
  docs/getting-started/configuration.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/javascripts/mathjax.js
  docs/stylesheets/extra.css
  docs/user-guide/data-sources.md
  docs/user-guide/output-formats.md
  docs/user-guide/processing-pipeline.md
  mkdocs_backup.yml
  output/china_data_processed.csv
  output/china_data_processed.md
  output/china_data_raw.md
  semgrep-python.json
  semgrep-security.json
  test.md
  test_output.md
Due: check-tool-versions

feat: optimize pre-commit configuration for better performance
  .gitignore
  .pre-commit-config.yaml
  CACHE_MANAGEMENT.md
  PRE_COMMIT_GUIDE.md
  PRE_COMMIT_PERFORMANCE_SUMMARY.md
Due: check-tool-versions

chore: Remove test artifacts and prevent future occurrences
  .gitignore
  test.md
  test_output.md
  tests/conftest.py
Due: none

refactor: reorganize log files into dedicated logs/ directory
  .gitignore
  config.py
  logs/README.md
  utils/error_handling/__init__.py
  utils/logging_core.py
Due: radon-complexity, interrogate

Fix all linting issues - MyPy and Ruff errors resolved
  MAKEFILE_TESTING_ISSUES.md
  Makefile
  config.py
  config_schema.py
  model/test_model_equations.py
  model/utils/consumption.py
  model/utils/exports.py
  model/utils/imports.py
  model/utils/investment_from_saving.py
  model/utils/tfp_growth.py
  output/china_data_processed.csv
  output/china_data_processed.md
  pyproject.toml
  ruff.toml
  scripts/generate_sarif_reports.py
  scripts/sync_tool_versions.py
  tests/test_wdi_downloader.py
  utils/caching_utils.py
  utils/logging_tracing.py
  utils/processor_extrapolation_utils.py
  uv.lock
Due: radon-complexity, interrogate, check-tool-versions

fix: Resolve ruamel.yaml namespace package import issue with safety
  .safety-project.ini
  Makefile
  scripts/fix_ruamel_namespace.py
Due: none

🎉 All tests now passing! 100% test pass rate achieved - Fixed all 29 test failures, 266 tests passing, 0 failing, 3 skipped as expected
  .pre-commit-config.yaml
  MAKEFILE_TESTING_ISSUES.md
Due: check-tool-versions

✅ Fix all linting issues - Ruff and MyPy now pass with 0 errors
  .mutmut_config
  .safety-project.ini
  MAKEFILE_TESTING_ISSUES.md
  Makefile
  china_data_downloader.py
  docs/adrs/index.md
  docs/development/contributing.md
  docs/index.md
  docs/user-guide/output-formats.md
  docs/user-guide/processing-pipeline.md
  model/test_model_equations.py
  output/china_data_processed.csv
  output/china_data_processed.md
  output/china_data_raw.md
  pyproject.toml
  scripts/fix_ruamel_namespace.py
  tests/factories.py
  tests/test_downloader.py
  tests/test_factories_demo.py
  tests/test_factoryboy_integration.py
  tests/test_imf_loader.py
  tests/test_integration_processor_output.py
  tests/test_processor_output_markdown.py
  tests/test_property_based.py
  tests/test_property_enhanced.py
  tests/test_structured_logging.py
  tests/test_wdi_downloader.py
  tests/test_wdi_downloader_additional.py
  utils/caching_utils.py
  utils/economic_indicators/tfp_calculator.py
  utils/logging_core.py
  utils/logging_helpers.py
Due: radon-complexity, interrogate, check-tool-versions

fix: resolve test failures and type annotation issues
  tests/extra/test_dataframe_extra.py
  tests/test_processor_output_markdown.py
  utils/output/markdown_template.py
Due: radon-complexity, interrogate

Update extrapolation methods and remove deprecated documentation files
  MAKEFILE_TESTING_ISSUES.md
  PRE_COMMIT_GUIDE.md
  PRE_COMMIT_OPTIMIZATION_PLAN.md
  PRE_COMMIT_PERFORMANCE_SUMMARY.md
  SECURITY_EXCEPTIONS.md
  output/china_data_processed.md
  tests/processor/test_output.py
  tests/test_structured_logging.py
  utils/extrapolation_methods/arima.py
  utils/extrapolation_methods/extrapolation_helpers.py
  utils/extrapolation_methods/linear_regression.py
  utils/logging_operations.py
  utils/output/markdown_generator.py
  utils/processor_dataframe/metadata_operations.py
  utils/processor_dataframe/output_operations.py
  utils/processor_extrapolation.py
  utils/processor_extrapolation_apply.py
  utils/processor_extrapolation_constants.py
  utils/processor_extrapolation_prepare.py
  utils/validation_core.py
  utils/validation_utils.py
Due: radon-complexity, interrogate
